altair
argon2-cffi
astor
async-generator
attrs
backcall
base58
bleach
blinker
bokeh
cachetools
certifi
cffi
chardet
click
cryptography
cycler
decorator
defusedxml
entrypoints
filelock
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba
Jinja2
joblib
JPype1
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy
packaging
pandas
pandocfilters
parso
pdfminer.six
pexpect
pickleshare
plotly
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
python-docx
pytz
PyYAML
pyzmq
regex
requests
retrying
rjieba
sacremoses
scikit-learn
scipy
Send2Trash
six
smmap
sortedcontainers
streamlit
terminado
testpath
threadpoolctl
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typing-extensions
tzlocal
validators
watchdog
wcwidth
webencodings
widgetsnbextension
zipp
pdfplumber
spacy
openpyxl
textrank4zh
spacy_transformers
scikit-learn
kaleido